<div class="content" th:fragment="baseContent">
    <div th:replace="~{fragment/subject :: emailSubject}"></div>
    <div class="highlight-box">
        <p>Hello <strong th:text="${userName}"></strong>,</p>
        <p th:text="#{email.template.generalContent}"></p>
        <div th:if="${contentLines != null and !#lists.isEmpty(contentLines)}">
            <p th:each="content : ${contentLines}">
                <th:block th:if="${content.isLink()}">
                    <a th:href="${content.getKeyOrContent()}" th:text="#{${content.getKeyOrLinkLabel()}}"></a>
                </th:block>
                <th:block th:if="${content.isTranslate()}">
                    <span th:text="#{${content.getKeyOrContent()}}"></span>
                </th:block>
                <th:block th:if="${not content.isTranslate() and not content.isLink()}">
                    <span th:text="${content.getKeyOrContent()}"></span>
                </th:block>
            </p>
        </div>
        <table
                th:if="${tableDto != null and not #lists.isEmpty(tableDto.header) and not #lists.isEmpty(tableDto.rows)}"
                style="width:100%; border-collapse: collapse;" border="1">
            <thead>
            <tr style="background-color:#f0f8ff;">
                <th th:each="header : ${tableDto.header}" th:text="#{${header}}" style="padding:8px;">Header</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="row : ${tableDto.rows}">
                <td th:each="cell : ${row}" th:text="${cell}" style="padding:8px;">Data</td>
            </tr>
            </tbody>
        </table>
        <div th:if="${footerContentLines != null and !#lists.isEmpty(footerContentLines)}">
            <p th:each="content : ${footerContentLines}">
                <th:block th:if="${content.isLink()}">
                    <a th:href="${content.getKeyOrContent()}" th:text="#{${content.getKeyOrLinkLabel()}}"></a>
                </th:block>
                <th:block th:if="${content.isTranslate()}">
                    <span th:text="#{${content.getKeyOrContent()}}"></span>
                </th:block>
                <th:block th:if="${not content.isTranslate() and not content.isLink()}">
                    <span th:text="${content.getKeyOrContent()}"></span>
                </th:block>
            </p>
        </div>
    </div>
    <div th:replace="~{fragment/signature :: emailSignature}"></div>
</div>
